body{
	margin:0;
	padding:0;
}
.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.kanit-semi {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kanit {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.kanit{
	font-size:19px;
}
.navigation{
  	box-shadow: 0 12px 18px 0 rgba(0,0,0,0.3);
	position:sticky;
	top:0;
	z-index:14;
}
.textinimage h1{
	font-size:60px;
}

.dropdown:hover .dropdown-menu {
	display: block;
}




.span {
  border: none;
  background-color: #F0F0F0;
  color: black;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}



.platforms{
	margin-top: 7vh;
}
.platforms h2{
	text-align:center;
}

.show:hover{
	background-color:red;
	
}










.footercontent a:hover{
	text-decoration:underline;
}
