body{
	margin:0;
	padding:0;
}
.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.kanit-semi {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kanit {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.kanit{
	font-size:19px;
}
.navigation{
  	box-shadow: 0 12px 18px 0 rgba(0,0,0,0.3);
	position:sticky;
	top:0;
	z-index:14;
}
.textinimage h1{
	font-size:80px;
}
.supporter{
	background-image:url("../images/Our-Supporters.jpg");
	background-repeat:no-repeat;
	background-size:cover;	
	height:80vh;
	width:100%;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.name {
	text-align: center;
	color: green;
}

.contact a{
	text-decoration:none;
	font-size:20px;
}


.platforms{
	margin-top: 4vh;
}
.platforms h3{
	text-align:center;
}
.wedo h2{
	text-align:center;

}










.footercontent a:hover{
	text-decoration:underline;
}
