body{
	margin:0;
	padding:0;
}
.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.kanit-semi {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kanit {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.kanit{
	font-size:19px;
}
.navigation{
  	box-shadow: 0 12px 18px 0 rgba(0,0,0,0.3);
	position:sticky;
	top:0;
	z-index:14;
}
.textinimage h1{
	font-size:80px;
}
.work{
	background-image:url("../images/waterCupbgImage.jpg");
	background-repeat:no-repeat;
	background-size:cover;	
	height:100vh;
	width:100%;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.name {
	text-align: center;
	color: green;
}

.contact a{
	text-decoration:none;
	font-size:20px;
}


.platforms{
	margin-top: 7vh;
}
.platforms h2{
	text-align:center;
}
.wedo h2{
	text-align:center;
}

.size{
	font-size:65px;
}




/* From Uiverse.io by megasteve19 */ 
.change {
  border: none;
  background-color: #003C8B;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transform: translate(1) translate(0, 0);
  transition: transform 225ms, box-shadow 225ms;
}

.change:hover {
  transform: scale(1.05) translate(0, -0.15rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
}

.change:active {
  transform: scale(1) translate(0, 0.15rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}




.footercontent a:hover{
	text-decoration:underline;
}
